h1{
    color:blue;
    background-color: black;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    border-radius: 150px;
}

img{
    width: 100%;
    height: 1000;
    border: 4px solid black;
    opacity: 0.1;
    border-radius: 150px;
}

img:hover{
    opacity: 0.3;
    transition: 1s;
}

a{
    text-align: center;
    margin-top: 50px;
}
